<%# 右側 %>
<div class="main-right">

<%# ヘッダー %>
  <div class="main_header">

<%# ヘッダーの左側サーチ %>
    <div class="header_left">
      <form class="search-form" action="/search" method="get">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </div>

<%# ヘッダーの右側 %>
    <div class="wrench-adjustable-circle-fill">
      <a href="#" class="bi bi gear">
        <svg class="bi me-2" width="25" height="25" ><use xlink:href="#wrench-adjustable-circle-fill"/></svg>
      </a>
    </div>
  </div>




