<%= render partial: "users/sidebar" %>

<%= render partial: "users/header" %>



<div class="container">

  <div class="new-container">
  

    <%= form_with model: @income, url: incomes_path, class: "income_form", local: true do %>
      <div class="new-title">新規出費</div>
      <div class="date">
        <label for="stat_time">日付：</label>
        <input type="date" id="date" name="income[start_time]">
      </div>
      <div class="income_price">
        <label for="income_price">金額:</label>
        <input type="text" id="amount" name="income[income_price]">
      </div>
      <div class="memo">
        <label for="memo">メモ:（25文字以内）</label>
        <input type="text" id="memo" name="income[memo]">
      </div>

			<label for="genre">分類:
        <fieldset>
          <input id="item-1" class="radio-inline__input" type="radio" name="income[genre]" value="消費" checked="checked"/>
          <label class="radio-inline__label" for="item-1">消費</label>
          <input id="item-2" class="radio-inline__input" type="radio" name="income[genre]" value="投資"/>
          <label class="radio-inline__label" for="item-2">投資</label>
          <input id="item-3" class="radio-inline__input" type="radio" name="income[genre]" value="浪費"/>
          <label class="radio-inline__label" for="item-3">浪費</label>
        </fieldset>
      </label>

      
      <div class="category-container">
      <label for="category">カテゴリー:
        <div class="radio-tile-group">
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="食費" />
              <div class="radio-tile">
                <div class="icon food">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <polygon class="st0" points="30.922,460.156 481.094,460.156 481.094,421.969 30.922,431 	" style="fill: rgba(192, 28, 103, 0.81);"></polygon>
                      <polygon class="st0" points="30.922,499.641 481.094,508.688 481.094,470.484 30.922,470.484 	" style="fill: rgba(192, 28, 103, 0.81);"></polygon>
                      <path class="st0" d="M153.094,340.672v22.016c0,22.844,46.078,41.375,102.906,41.375s102.906-18.531,102.906-41.375v-22.016C449.047,301.063,512,211,512,106.219C512,49.391,397.391,3.313,256,3.313C114.625,3.313,0,49.391,0,106.219C0,211,62.969,301.063,153.094,340.672z M41.828,106.219c0-2.234,8.984-17.984,48.75-33.953C133.469,55.031,193.75,45.141,256,45.141s122.531,9.891,165.438,27.125c39.75,15.969,48.734,31.719,48.734,33.953s-8.984,17.969-48.734,33.953C378.531,157.406,318.25,167.297,256,167.297s-122.531-9.891-165.422-27.125C50.813,124.188,41.828,108.453,41.828,106.219z" style="fill: rgba(192, 28, 103, 0.81);"></path>
                  </svg>  
                </div>
              <label for="category" class="radio-tile-label">食費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="交際費" />
              <div class="radio-tile">
                <div class="icon happy">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M100.165,278.507l21.505,29.364c4.758,6.489,11.916,10.828,19.886,12.028c7.954,1.208,16.078-0.821,22.544-5.628l29.226-21.706c9.243-9.025,15.386-20.981,17.31-33.767l12.762-84.586l-122.516,18.494l-7.31,48.428C91.647,253.919,93.982,267.147,100.165,278.507z" style="fill: rgba(24, 175, 53, 0.93);"></path>
                    <path class="st0" d="M465.617,459.933l-1.336-8.679c-1.779-11.562-10.169-20.942-21.408-24.025l-21.915-7.657l-0.378-0.121l-0.378-0.096c-3.028-0.781-5.298-3.284-5.766-6.376l-11.602-75.182c-0.636-4.122,0.032-8.365,1.876-12.093l32.72-41.946l0.789-1.023l0.628-1.111c10.072-17.874,13.896-38.887,10.772-59.16l-18.815-122.008l-2.609-16.932l-16.932,2.609L264.136,108.82l-16.94,2.608l1.691,10.958l-2.198-0.33L99.481,99.851l-16.94-2.56l-2.56,16.94L61.56,236.294c-3.06,20.29,0.837,41.287,10.966,59.137l0.636,1.103l0.781,1.014l32.857,41.842c1.852,3.72,2.528,7.971,1.9,12.085l-11.344,75.23c-0.468,3.083-2.722,5.604-5.749,6.393l-0.378,0.096l-0.387,0.121l-21.875,7.721c-11.24,3.124-19.589,12.536-21.336,24.098l-1.304,8.687l-2.56,16.932l16.94,2.552l106.928,16.144L184.566,512l2.56-16.94l1.312-8.679c1.74-11.561-3.462-23.027-13.284-29.322l-18.623-13.833l-0.322-0.233l-0.338-0.193c-2.656-1.659-4.074-4.726-3.607-7.818l11.352-75.214c0.62-4.122,2.52-7.979,5.386-10.99l43.734-30.289l1.063-0.724l0.934-0.878c14.935-14.065,24.854-32.978,27.913-53.266l13.856-91.84l12.117,78.588c3.124,20.272,13.1,39.161,28.09,53.17l0.934,0.869l1.055,0.733l43.838,30.152c2.875,2.995,4.783,6.844,5.419,10.966l11.593,75.183c0.475,3.092-0.926,6.158-3.583,7.817l-0.33,0.21l-0.322,0.218l-18.59,13.904c-9.798,6.328-14.968,17.802-13.18,29.363l1.337,8.671l2.617,16.932l16.924-2.608l106.879-16.482l16.932-2.608L465.617,459.933z M225.707,261.068c-2.504,16.585-10.507,31.842-22.712,43.339l-44.958,31.134c-6.111,5.749-10.112,13.373-11.36,21.666l-11.353,75.223c-1.489,9.862,3.044,19.669,11.522,24.918l18.888,14.017c4.244,2.625,6.506,7.536,5.757,12.463l-1.304,8.672L63.258,476.366l1.321-8.672c0.733-4.928,4.347-8.953,9.17-10.209l22.189-7.817c9.645-2.512,16.867-10.547,18.357-20.41l11.352-75.222c1.248-8.293-0.314-16.771-4.46-24.058l-33.766-43.01c-8.277-14.588-11.424-31.528-8.921-48.114L96.92,116.782l147.208,22.214L225.707,261.068z M341.814,479.015l-1.337-8.672c-0.757-4.928,1.49-9.839,5.725-12.48l18.839-14.073c8.462-5.281,12.963-15.096,11.441-24.966l-11.593-75.183c-1.272-8.285-5.298-15.901-11.425-21.625l-45.054-30.989c-12.254-11.457-20.297-26.69-22.858-43.268l-18.807-122.008l147.128-22.688l18.807,122.008c2.56,16.577-0.531,33.533-8.752,48.146L390.29,316.34c-4.114,7.295-5.66,15.773-4.38,24.066l11.586,75.182c1.521,9.871,8.775,17.866,18.429,20.361l22.213,7.746c4.831,1.24,8.454,5.249,9.219,10.176l1.336,8.672L341.814,479.015z" style="fill: rgba(24, 175, 53, 0.93);"></path>
                    <path class="st0" d="M389.742,294.223l21.416-29.435c6.135-11.368,8.429-24.613,6.466-37.39l-8.39-54.378l-121.654-12.125l13.035,84.546c1.972,12.777,8.148,24.71,17.43,33.711l29.282,21.61c6.481,4.782,14.605,6.778,22.568,5.555C377.859,305.092,385,300.736,389.742,294.223z" style="fill: rgba(24, 175, 53, 0.93);"></path>
                    <polygon class="st0" points="312.846,4.839 297.886,0 282.275,48.21 297.234,53.05 	" style="fill: rgba(24, 175, 53, 0.93);"></polygon>
                    <polygon class="st0" points="245.94,48.25 230.224,0.081 215.265,4.952 230.989,53.13 	" style="fill: rgba(24, 175, 53, 0.93);"></polygon>
                    <polygon class="st0" points="201.61,74.53 160.581,44.789 151.346,57.526 192.383,87.259 	" style="fill: rgba(24, 175, 53, 0.93);"></polygon>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">交際費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="交通費" />
              <div class="radio-tile">
                <div class="icon train">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M424.154,133.902H369.23l40.607-30.427L341.98,52.62l-67.856,50.855l40.607,30.427H197.27l40.607-30.427l-67.85-50.855l-67.856,50.855l40.607,30.427H87.846C39.323,133.909,0.014,173.224,0,221.747v174.089c-0.007,7.977,3.279,15.338,8.511,20.551c5.212,5.232,12.58,8.517,20.551,8.511h38.166c-0.047,0.649-0.196,1.264-0.196,1.92c0,17.988,14.575,32.563,32.563,32.563c17.982,0,32.562-14.575,32.562-32.563c0-0.656-0.149-1.271-0.196-1.92h19.09c-0.047,0.649-0.196,1.264-0.196,1.92c0,17.988,14.575,32.563,32.563,32.563c17.981,0,32.563-14.575,32.563-32.563c0-0.656-0.149-1.271-0.196-1.92h80.437c-0.041,0.649-0.196,1.264-0.196,1.92c0,17.988,14.574,32.563,32.563,32.563c17.981,0,32.563-14.575,32.563-32.563c0-0.656-0.156-1.271-0.196-1.92h19.09c-0.041,0.649-0.197,1.264-0.197,1.92c0,17.988,14.575,32.563,32.563,32.563c17.982,0,32.563-14.575,32.563-32.563c0-0.656-0.155-1.271-0.196-1.92h38.16c7.97,0.006,15.338-3.279,20.551-8.511c5.232-5.212,8.517-12.574,8.511-20.551V221.747C511.986,173.224,472.677,133.909,424.154,133.902z M313.041,103.475l28.939-21.7l28.947,21.7l-28.947,21.693L313.041,103.475zM141.081,103.475l28.946-21.7l28.94,21.7l-28.94,21.693L141.081,103.475z M479.592,392.497H32.408v-170.75c0-15.358,6.172-29.122,16.238-39.201c10.079-10.066,23.842-16.238,39.201-16.244h336.308c15.359,0.007,29.115,6.179,39.201,16.244c10.059,10.079,16.231,23.843,16.238,39.201V392.497z" style="fill: rgba(71, 125, 187, 0.88);"></path>
                      <rect x="98.027" y="240.189" class="st0" width="58.324" height="116.656" style="fill: rgba(71, 125, 187, 0.88);"></rect>
                      <rect x="217.921" y="240.189" class="st0" width="68.052" height="58.331" style="fill: rgba(71, 125, 187, 0.88);"></rect>
                      <rect x="345.921" y="240.189" class="st0" width="68.052" height="58.331" style="fill: rgba(71, 125, 187, 0.88);"></rect>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">交通費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="日用品費" />
              <div class="radio-tile">
                <div class="icon clean">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M442.197,152.944c-1.243-3.158-2.686-6.102-4.365-8.845c-2.522-4.1-5.552-7.758-9.452-10.631c-1.95-1.429-4.13-2.643-6.545-3.501c-2.4-0.865-5.03-1.358-7.702-1.358c-3.165,0-6.259,0.701-9.009,1.865c-2.415,1.036-4.58,2.408-6.502,3.98c-3.372,2.772-6.044,6.136-8.316,9.874c-3.387,5.616-5.866,12.131-7.581,19.362c-1.722,7.201-2.636,15.132-2.636,23.463c0,7.259,0.7,14.189,2.008,20.619c0.979,4.844,2.307,9.381,3.979,13.574c1.244,3.158,2.694,6.116,4.365,8.852c2.522,4.094,5.544,7.752,9.452,10.624c1.943,1.43,4.13,2.644,6.544,3.515c2.401,0.858,5.03,1.343,7.695,1.343c3.172,0.007,6.273-0.686,9.016-1.858c2.415-1.028,4.572-2.408,6.502-3.986c3.372-2.758,6.051-6.13,8.316-9.867c3.387-5.615,5.866-12.138,7.588-19.354c1.708-7.216,2.629-15.132,2.629-23.462c0-7.259-0.7-14.204-2.015-20.634C445.198,161.688,443.87,157.144,442.197,152.944z M423.951,203.256c-0.743,3.643-1.715,6.93-2.829,9.724c-0.829,2.093-1.736,3.908-2.637,5.372c-1.343,2.208-2.679,3.594-3.5,4.166c-0.408,0.3-0.679,0.414-0.793,0.457l-0.057,0.014c-0.028-0.007-0.171-0.029-0.514-0.243c-0.622-0.371-1.822-1.414-3.108-3.286c-1.958-2.801-4.009-7.33-5.43-12.938c-1.444-5.595-2.315-12.253-2.315-19.369c0-5.787,0.571-11.26,1.558-16.111c0.742-3.637,1.721-6.93,2.829-9.731c0.829-2.094,1.736-3.894,2.63-5.366c1.343-2.201,2.686-3.587,3.501-4.172c0.414-0.301,0.679-0.415,0.793-0.451l0.057-0.021c0.043,0.007,0.178,0.043,0.514,0.25c0.628,0.364,1.829,1.408,3.122,3.294c1.95,2.786,4,7.33,5.423,12.924c1.442,5.608,2.315,12.267,2.315,19.383C425.508,192.925,424.937,198.397,423.951,203.256z" style="fill: rgb(75, 75, 75);"></path>
                      <path class="st0" d="M498.632,116.606c-3.322-16.332-7.78-31.536-13.224-45.253c-4.08-10.288-8.731-19.748-13.918-28.221c-7.787-12.704-16.782-23.256-27.192-30.894c-5.201-3.808-10.774-6.873-16.676-8.988C421.721,1.136,415.484,0,409.14,0H102.867v0.015c0,0,0,0-0.007,0V0c-0.064,0-0.135,0.007-0.207,0.007c-0.057,0-0.128,0.008-0.193,0.008c-7.38,0.05-14.596,1.643-21.326,4.508c-5.994,2.558-11.617,6.08-16.846,10.367c-9.16,7.523-17.183,17.34-24.206,28.95C29.564,61.25,21.247,82.741,15.475,107.047c-5.766,24.305-8.966,51.44-8.974,80.105V512h12.16c3.244,0,6.316-0.342,9.16-1.029c2.479-0.578,4.78-1.414,6.838-2.386c3.607-1.714,6.43-3.814,8.637-5.601c1.672-1.357,3.03-2.558,4.187-3.493c1.744-1.422,2.972-2.222,4.201-2.758c0.615-0.264,1.272-0.478,2.1-0.65c0.822-0.157,1.844-0.286,3.158-0.286c1.543,0,2.657,0.165,3.558,0.372c0.786,0.186,1.414,0.414,2.043,0.714c1.086,0.515,2.222,1.279,3.758,2.523c1.143,0.921,2.471,2.1,4.122,3.444c2.451,2,5.68,4.394,9.91,6.223c2.1,0.915,4.437,1.664,6.944,2.172c2.501,0.5,5.158,0.757,7.959,0.757c3.244,0,6.316-0.342,9.16-1.029c2.486-0.578,4.787-1.414,6.844-2.386c3.608-1.714,6.43-3.814,8.646-5.601c1.657-1.357,3.015-2.558,4.172-3.493c1.744-1.422,2.972-2.222,4.201-2.758c0.622-0.264,1.271-0.478,2.1-0.65c0.829-0.157,1.844-0.286,3.165-0.286c1.536,0,2.65,0.165,3.551,0.372c0.786,0.186,1.414,0.414,2.044,0.714c1.086,0.515,2.214,1.279,3.751,2.523c1.143,0.921,2.478,2.1,4.122,3.444c2.458,1.993,5.68,4.394,9.91,6.223c2.108,0.915,4.437,1.664,6.938,2.172c2.5,0.5,5.172,0.757,7.966,0.757c3.25,0,6.315-0.342,9.159-1.029c2.479-0.578,4.787-1.414,6.838-2.386c3.615-1.714,6.43-3.814,8.644-5.601c1.672-1.357,3.022-2.558,4.18-3.493c1.751-1.422,2.973-2.222,4.201-2.758c0.622-0.264,1.265-0.478,2.094-0.65c0.828-0.157,1.843-0.286,3.172-0.286c1.536,0,2.658,0.165,3.551,0.372c0.786,0.186,1.408,0.414,2.043,0.714c1.086,0.515,2.222,1.279,3.751,2.523c1.143,0.921,2.472,2.1,4.122,3.444c2.458,1.993,5.68,4.394,9.91,6.223c2.1,0.915,4.444,1.664,6.944,2.172c2.5,0.5,5.158,0.757,7.959,0.757c3.243,0,6.316-0.342,9.159-1.029c2.487-0.578,4.787-1.414,6.845-2.4c3.608-1.715,6.423-3.8,8.645-5.587c1.658-1.357,3.015-2.558,4.165-3.493c1.751-1.422,2.972-2.222,4.202-2.758c0.621-0.264,1.264-0.478,2.1-0.65c0.822-0.157,1.836-0.286,3.165-0.286c1.536,0,2.658,0.165,3.558,0.372c0.779,0.186,1.408,0.414,2.03,0.714c1.086,0.515,2.229,1.272,3.757,2.523c1.144,0.921,2.472,2.093,4.123,3.444c2.451,1.993,5.673,4.394,9.91,6.223c2.1,0.915,4.43,1.664,6.93,2.172c2.5,0.5,5.172,0.757,7.966,0.757h12.154V374.296h72.06c7.523,0.007,14.882-1.607,21.726-4.53c5.994-2.543,11.61-6.072,16.847-10.367c9.16-7.508,17.176-17.34,24.206-28.942c10.517-17.418,18.834-38.895,24.613-63.201c5.766-24.305,8.967-51.455,8.967-80.104C505.499,162.196,503.069,138.397,498.632,116.606z M321.748,107.047c-5.773,24.305-8.966,51.44-8.974,80.105v5.665h-20.212v11.338h20.212v277.58c-0.414-0.342-0.843-0.7-1.314-1.086c-2.45-2-5.673-4.401-9.902-6.23c-2.108-0.907-4.436-1.657-6.944-2.157c-2.5-0.514-5.166-0.772-7.959-0.765c-3.244-0.007-6.316,0.343-9.16,1.022c-2.486,0.585-4.787,1.421-6.844,2.4c-3.608,1.707-6.43,3.8-8.638,5.594c-1.664,1.35-3.022,2.551-4.18,3.48c-1.743,1.429-2.972,2.244-4.201,2.772c-0.615,0.272-1.264,0.486-2.093,0.643c-0.822,0.172-1.844,0.286-3.165,0.286c-1.544,0-2.658-0.157-3.551-0.372c-0.793-0.186-1.414-0.414-2.044-0.708c-1.086-0.522-2.222-1.279-3.751-2.522c-1.143-0.922-2.479-2.1-4.129-3.444c-2.451-2-5.673-4.401-9.902-6.23c-2.108-0.907-4.444-1.657-6.945-2.157c-2.501-0.514-5.165-0.772-7.959-0.772c-3.25,0-6.315,0.35-9.159,1.03c-2.486,0.585-4.787,1.421-6.845,2.4c-3.615,1.707-6.43,3.8-8.644,5.594c-1.664,1.35-3.015,2.544-4.172,3.48c-1.743,1.429-2.972,2.244-4.201,2.772c-0.622,0.272-1.272,0.486-2.1,0.643c-0.829,0.172-1.844,0.286-3.165,0.286c-1.536,0-2.652-0.157-3.551-0.372c-0.786-0.186-1.415-0.414-2.044-0.708c-1.086-0.522-2.222-1.279-3.751-2.522c-1.143-0.922-2.48-2.1-4.123-3.444c-2.457-2-5.679-4.401-9.916-6.23c-2.1-0.907-4.43-1.657-6.93-2.157c-2.508-0.514-5.172-0.772-7.966-0.772c-3.25,0-6.322,0.35-9.159,1.03c-2.487,0.585-4.787,1.421-6.838,2.4c-3.615,1.707-6.43,3.8-8.645,5.594c-1.672,1.35-3.022,2.544-4.18,3.48c-1.751,1.429-2.972,2.244-4.194,2.772c-0.628,0.272-1.279,0.486-2.1,0.643c-0.829,0.172-1.843,0.286-3.172,0.286c-1.536,0-2.658-0.157-3.558-0.372c-0.778-0.186-1.415-0.414-2.036-0.708c-1.093-0.522-2.222-1.279-3.758-2.522c-1.143-0.922-2.48-2.1-4.123-3.444c-2.457-2-5.679-4.401-9.91-6.23c-2.107-0.907-4.436-1.657-6.944-2.157c-2.5-0.514-5.165-0.772-7.966-0.772c-3.244,0-6.316,0.35-9.152,1.03c-2.486,0.585-4.787,1.421-6.845,2.4c-3.608,1.707-6.43,3.8-8.644,5.594c-0.536,0.429-1.022,0.836-1.493,1.236V204.156h13.431v-11.338H30.807v-5.665c0-23.377,2.286-45.604,6.373-65.702c3.065-15.061,7.144-28.921,12.003-41.131c3.629-9.152,7.702-17.383,12.053-24.499c6.523-10.674,13.724-18.79,20.826-23.963c3.544-2.615,7.059-4.486,10.503-5.715c3.444-1.229,6.809-1.829,10.26-1.829h257.897c-5.208,5.716-9.98,12.274-14.368,19.526C335.836,61.25,327.52,82.741,321.748,107.047z M337.08,349.99v-37.244c3,6.537,6.216,12.718,9.709,18.425c4.28,6.974,8.931,13.26,13.968,18.819H337.08z M474.819,252.839c-3.065,15.061-7.144,28.921-11.995,41.139c-3.637,9.159-7.709,17.389-12.06,24.491c-6.523,10.689-13.718,18.791-20.819,23.978c-3.551,2.6-7.066,4.472-10.517,5.715c-3.45,1.229-6.83,1.829-10.288,1.829c-4.108-0.014-8.102-0.843-12.217-2.586c-3.594-1.529-7.274-3.779-10.96-6.802c-6.458-5.272-12.91-12.96-18.812-22.734c-8.874-14.632-16.475-33.908-21.755-56.228c-5.301-22.319-8.316-47.654-8.316-74.489c0-23.377,2.286-45.604,6.373-65.702c3.072-15.061,7.151-28.921,12.003-41.131c3.629-9.152,7.702-17.383,12.06-24.499c6.523-10.674,13.718-18.79,20.819-23.963c3.551-2.6,7.059-4.486,10.503-5.715c3.458-1.243,6.83-1.829,10.302-1.829c4.101,0,8.094,0.829,12.21,2.579c3.601,1.536,7.274,3.773,10.96,6.794c6.459,5.287,12.917,12.96,18.818,22.734c8.867,14.646,16.468,33.922,21.756,56.234c5.294,22.312,8.316,47.654,8.309,74.496C481.193,210.522,478.906,232.748,474.819,252.839z" style="fill: rgb(75, 75, 75);"></path>
                      <rect x="67.416" y="192.817" class="st0" width="25.064" height="11.338" style="fill: rgb(75, 75, 75);"></rect>
                      <rect x="242.858" y="192.817" class="st0" width="25.062" height="11.338" style="fill: rgb(75, 75, 75);"></rect>
                      <rect x="125.901" y="192.817" class="st0" width="25.063" height="11.338" style="fill: rgb(75, 75, 75);"></rect>
                      <rect x="184.379" y="192.817" class="st0" width="25.063" height="11.338" style="fill: rgb(75, 75, 75);"></rect>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">日用品費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="医療費" />
              <div class="radio-tile">
                <div class="icon medical">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M214.348,393.979c-1.047,1.047-2.172,1.781-3.406,2.281c-1.859,0.75-3.938,0.953-5.906,0.563c-1.984-0.391-3.781-1.281-5.344-2.844l-76.594-76.594c-1.047-1.047-1.781-2.188-2.281-3.422c-0.75-1.859-0.953-3.938-0.563-5.906s1.297-3.781,2.844-5.328l158.297-158.297l-23.672-23.656L99.441,279.057c-4.25,4.25-7.484,9.219-9.625,14.516c-3.219,7.938-4.016,16.563-2.422,24.844c1.594,8.266,5.656,16.266,12.047,22.625l76.594,76.594c4.234,4.25,9.219,7.5,14.5,9.625c7.938,3.219,16.563,4.016,24.844,2.422s16.266-5.656,22.641-12.047l158.297-158.281l-23.672-23.656L214.348,393.979z" style="fill: rgba(211, 29, 76, 0.91);"></path>
                      <path class="st0" d="M89.004,399.9c-5.281,5.297-6.313,12.828-2.313,16.828l13.656,13.656c4,4.016,11.531,2.969,16.828-2.313l25.625-25.625l-28.156-28.172L89.004,399.9z" style="fill: rgba(211, 29, 76, 0.91);"></path>
                      <polygon class="st0" points="0.004,501.869 25.348,506.932 90.691,441.588 75.488,426.385 	" style="fill: rgba(211, 29, 76, 0.91);"></polygon>
                      <path class="st0" d="M311.52,57.963c-11.656-11.672-30.578-11.672-42.25,0s-11.672,30.578,0,42.25l147.594,147.594c11.672,11.672,30.594,11.672,42.25,0c11.672-11.672,11.672-30.594,0-42.25L311.52,57.963z" style="fill: rgba(211, 29, 76, 0.91);"></path>
                      <path class="st0" d="M503.254,91.947l-78.141-78.125c-11.656-11.672-30.578-11.672-42.234,0c-11.672,11.672-11.672,30.594,0,42.25l8.078,8.078l-23.672,23.672l23.672,23.656l23.656-23.656l14.656,14.641l-23.672,23.656l23.672,23.656l23.641-23.656l8.094,8.094c11.672,11.656,30.594,11.656,42.25,0C514.91,122.541,514.91,103.619,503.254,91.947z" style="fill: rgba(211, 29, 76, 0.91);"></path>
                      <rect x="280.451" y="243.316" transform="matrix(0.7071 0.7071 -0.7071 0.7071 265.1201 -139.0839)" class="st0" width="39.996" height="14.341" style="fill: rgba(211, 29, 76, 0.91);"></rect>
                      <polygon class="st0" points="267.895,311.322 278.035,301.182 249.738,272.9 239.598,283.041 	" style="fill: rgba(211, 29, 76, 0.91);"></polygon>
                      <rect x="211.708" y="312.032" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 608.4381 412.0587)" class="st0" width="14.341" height="40.018" style="fill: rgba(211, 29, 76, 0.91);"></rect>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">医療費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="教育費" />
              <div class="radio-tile">
                <div class="icon study">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M472.547,340.554c-7.141-24.781-14.266-49.578-21.391-74.359c-2.328-8.063-4.656-16.125-6.969-24.203l-19.344,19.344c6.266,24.672,12.531,49.344,18.797,74.031c3.094,12.156-5.016,22.969-18.344,18.813c-21.828-9.063-45.891-15.438-69.531-16.672c-26.875-1.375-54.406,4.125-79.172,14.453c-2.797,1.156-21.484,14.609-22.234,5.063c-0.406-22.313-0.828-44.625-1.234-66.938c-0.859-46.094-1.703-92.172-2.563-138.266c-0.047-2.641,6.328-3.969,7.641-4.469c10.438-3.953,21.359-6.672,32.359-8.453c26.797-4.359,53.172-2.125,79.375,4.516c8.344,2.125,17.094,4.719,23.25,10.094l12.438-12.422c-4.047-3.063-8.563-5.656-13.391-7.797c-22.234-9.953-50.453-13.891-74.578-14.453c-25.766-0.609-52.094,3.422-76.469,11.797c-4.75,1.625-12.516-2.688-17.375-4c-5.719-1.547-11.5-2.844-17.328-3.938c-12.844-2.375-25.875-3.672-38.938-3.875c-24.953-0.391-50.453,4.391-74.297,11.563c-5.25,1.969-1.5,0.578-0.328,0.141c-14.875,5.625-31.188,14.813-35.875,31.125c-1.172,4.078-2.359,8.156-3.531,12.234c-5.938,20.641-11.875,41.266-17.813,61.906c-8.125,28.219-16.234,56.422-24.359,84.625c-4.719,16.422-14.078,37.516-10.578,54.781c4.281,21.375,25.188,31.219,45.391,27.109c7.109-1.469,13.625-4.75,20.406-7.172c11.328-4.063,22.922-7.484,34.719-9.938c28.406-5.891,57.25-2.766,85.172,4.438c6.234,1.609,29.594,5.641,30.266,12.609c0.641,6.5,8.109,4.734,12.813,4.734c4.672,0,9.344,0,14.016,0c4.281,0,11.453,1.484,15.516-0.297c4.078-1.766,0.938-6.234,4.781-7.906c5.234-2.266,10.656-4.141,16.094-5.828c12.719-3.969,25.781-6.922,38.969-8.844c28.203-4.109,54.859-1.141,81.938,7.406c15.859,5,31.234,14.219,48.438,11.141c23.453-4.156,33.047-28.125,26.891-49.5C475.063,348.913,473.75,344.741,472.547,340.554z M226.5,206.616c-0.938,49.547-1.844,99.078-2.766,148.625c-0.063,3.313-0.969,5.375-4.656,5.281c-20.063-11.922-43.875-18.813-66.906-21.719c-27.063-3.422-53.547,0.266-79.484,8.313c-8.047,2.484-17.047,7.953-25.578,7.953c-9.766,0-15.438-8.688-13.156-17.766c5.969-23.453,11.906-46.922,17.875-70.375c7-27.578,13.984-55.172,21-82.75c1.75-6.859,3.484-13.734,5.234-20.609c4.266-16.813,28.047-20,42.25-22.953c26.516-5.484,53.391-5.453,79.813,0.766c4.563,1.078,27.5,4.609,27.375,11.156C227.156,170.569,226.828,188.601,226.5,206.616z" style="fill: rgba(234, 209, 9, 0.92);"></path>
                      <path class="st0" d="M304.609,311.819l69.547-14.75L512,159.257l-54.813-54.813L319.375,242.257L304.609,311.819z M485.563,159.257L367.375,277.429l-12.203-12.203l118.188-118.172L485.563,159.257z M457.188,130.882l12.203,12.203L351.203,261.257L339,249.054L457.188,130.882z M336.234,254.21l25.984,26l-24.203,5.328l-7.125-7.109L336.234,254.21z" style="fill: rgba(234, 209, 9, 0.92);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">教育費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="子供費" />
              <div class="radio-tile">
                <div class="icon kids">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M389.488,226.899H122.512C54.854,226.899,0,281.746,0,349.412c0,67.658,54.854,122.512,122.512,122.512c42.653,0,80.199-21.812,102.135-54.854h62.706c21.936,33.042,59.49,54.854,102.135,54.854C457.154,471.924,512,417.07,512,349.412C512,281.746,457.154,226.899,389.488,226.899z M389.488,440.332c-30.535,0-58.881-15.226-75.818-40.74l-9.372-14.115h-16.945h-62.706h-16.945l-9.371,14.115c-16.938,25.514-45.282,40.74-75.819,40.74c-50.134,0-90.92-40.786-90.92-90.92c0-50.134,40.786-90.921,90.92-90.921h266.976c50.134,0,90.92,40.786,90.92,90.921C480.408,399.545,439.622,440.332,389.488,440.332z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                      <path class="st0" d="M268.927,110.897c0-2.46,0.486-4.72,1.366-6.803c1.311-3.116,3.548-5.8,6.332-7.69c2.8-1.89,6.085-2.97,9.757-2.97c2.437,0,4.705,0.494,6.788,1.373c3.116,1.311,5.799,3.533,7.689,6.333c1.882,2.8,2.97,6.085,2.97,9.756c0,5.893,1.203,11.593,3.394,16.752c3.278,7.744,8.716,14.292,15.58,18.928c6.849,4.643,15.21,7.374,24.08,7.366c5.916,0,11.616-1.211,16.768-3.394c7.728-3.278,14.284-8.716,18.92-15.58c4.643-6.857,7.366-15.21,7.366-24.072v-70.82h-25.607v70.82c0,2.437-0.478,4.705-1.357,6.78c-1.319,3.124-3.556,5.808-6.333,7.69c-2.808,1.881-6.093,2.969-9.757,2.969c-2.436,0-4.705-0.486-6.787-1.365c-3.116-1.311-5.8-3.548-7.682-6.333c-1.889-2.8-2.977-6.1-2.992-9.741c0.016-5.924-1.188-11.616-3.378-16.768c-3.279-7.744-8.716-14.292-15.58-18.928c-6.864-4.651-15.21-7.374-24.08-7.366c-5.909-0.008-11.608,1.203-16.768,3.394c-7.743,3.263-14.292,8.716-18.927,15.58c-4.644,6.857-7.359,15.21-7.359,24.088v104.71h25.599V110.897z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                      <polygon class="st0" points="138.363,293.338 105.452,293.338 105.452,331.124 67.658,331.124 67.658,364.051 105.452,364.051 105.452,401.829 138.363,401.829 138.363,364.051 176.156,364.051 176.156,331.124 138.363,331.124 	" style="fill: rgba(6, 58, 173, 0.88);"></polygon>
                      <path class="st0" d="M375.126,289.698c-7.937,7.929-7.921,20.794,0,28.723c7.936,7.929,20.794,7.929,28.716,0c7.936-7.929,7.936-20.794,0-28.723C395.92,281.769,383.063,281.769,375.126,289.698z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                      <path class="st0" d="M329.774,335.05c-7.929,7.929-7.929,20.794,0,28.723c7.937,7.929,20.794,7.929,28.723,0c7.93-7.929,7.93-20.794,0-28.731C350.568,327.121,337.711,327.121,329.774,335.05z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                      <path class="st0" d="M375.126,380.402c-7.937,7.929-7.937,20.786,0,28.715c7.936,7.929,20.794,7.929,28.716,0.008c7.936-7.937,7.936-20.794,0-28.739C395.92,372.457,383.063,372.473,375.126,380.402z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                      <path class="st0" d="M449.193,335.05c-7.921-7.929-20.786-7.929-28.723,0c-7.937,7.929-7.937,20.794,0,28.723c7.937,7.929,20.802,7.929,28.723,0C457.123,355.844,457.123,342.979,449.193,335.05z" style="fill: rgba(6, 58, 173, 0.88);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">子供費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="車両維持費" />
              <div class="radio-tile">
                <div class="icon cars">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M180.844,405.328l-0.016-0.016c0,0,0,0-0.016,0L180.844,405.328z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                      <path class="st0" d="M512,303.688c0-37.594-22.656-69.844-55.031-83.969l-22.406-81.141c-13.594-49.266-58.406-83.359-109.5-83.359H186.938c-51.094,0-95.906,34.094-109.5,83.375l-22.375,81.125C22.656,233.844,0,266.094,0,303.688c0,40.094,25.781,74.094,61.656,86.531h-1.375v41.906c0,13.625,11.031,24.656,24.688,24.656H131c13.641,0,24.688-11.031,24.688-24.656v-36.781H174c1.688,3.688,3.953,7.109,6.828,9.969c5.703,5.688,13.531,9.281,22.109,9.813l0.531,0.188h1.5H205h102h0.031l0.813-0.031v-0.047c9.078-0.234,17.375-3.953,23.344-9.922c2.875-2.844,5.125-6.266,6.813-9.969h18.313v36.781c0.016,13.625,11.063,24.656,24.688,24.656h46.063c13.625,0,24.656-11.031,24.656-24.656v-41.906h-1.375C486.203,377.781,512,343.781,512,303.688z M139.688,432.125c0,4.781-3.891,8.656-8.688,8.656H84.969c-4.813,0-8.688-3.875-8.688-8.656v-38.188c5,0.844,10.125,1.406,15.375,1.406h48.031V432.125z M435.719,432.125c0,4.781-3.875,8.656-8.656,8.656H381c-4.781,0-8.672-3.891-8.688-8.656v-36.781h48.031c5.25,0,10.375-0.563,15.375-1.406V432.125zM420.344,379.344h-94.188l-1.5,6.094c-0.813,3.313-2.531,6.313-4.781,8.563c-3.25,3.25-7.875,5.328-12.844,5.313H307H205l0,0h-0.031c-4.969,0-9.594-2.063-12.844-5.313v-0.016c-2.25-2.234-3.969-5.234-4.781-8.547l-1.5-6.094H91.656c-20.906-0.016-39.781-8.469-53.5-22.172C24.469,343.469,16,324.594,16,303.688c0-32.25,20.188-59.766,48.594-70.672l3.781-1.453l24.5-88.719c11.656-42.313,50.156-71.625,94.063-71.625h138.125c43.906,0,82.406,29.313,94.094,71.625l24.484,88.719l3.766,1.453C475.813,243.938,496,271.438,496,303.688c0,20.906-8.453,39.781-22.156,53.484C460.125,370.875,441.266,379.328,420.344,379.344z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                      <polygon class="st0" points="121.5,181.75 121.5,181.719 121.5,181.719 	" style="fill: rgba(80, 192, 41, 0.9);"></polygon>
                      <path class="st0" d="M388.156,193.938c1.875-2.469,2.859-5.469,2.844-8.469c0.016-1.25-0.156-2.5-0.484-3.719l-9.391-34.031c-8.188-29.563-35.219-50.156-65.906-50.188H196.781c-30.656,0.031-57.719,20.625-65.906,50.188l-9.375,34c-0.344,1.25-0.5,2.5-0.5,3.75c-0.016,3.031,0.969,6,2.844,8.453v0.016c2.656,3.469,6.781,5.5,11.125,5.5h242.063C381.375,199.438,385.516,197.406,388.156,193.938z M378.594,186.688l-1.563,0.75H134.969l-1.563-0.781L133,185.469l0.063-0.5v-0.031l9.391-34.031c6.703-24.328,29.109-41.375,54.328-41.375h118.438c25.25,0,47.625,17.047,54.344,41.375l9.375,34.031l0.078,0.531L378.594,186.688z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                      <path class="st0" d="M305.906,331.188l-0.094-0.078c-1.375-1.422-3.813-2.516-6.094-2.453h-87.438c-2.297-0.063-4.719,1.063-6.094,2.453l-0.094,0.078l-0.125,0.125c-1.344,1.297-2.5,3.813-2.438,6.031v0.063v40.344v0.063c-0.063,2.219,1.063,4.719,2.531,6.109l0.063,0.047l0.031,0.031c1.313,1.375,3.781,2.563,6.125,2.5h87.438c2.313,0.063,4.781-1.109,6.125-2.5l0.063-0.063c1.531-1.406,2.594-3.906,2.578-6.063v-0.125v-40.344v-0.125c0.047-2.156-1.109-4.672-2.484-5.984L305.906,331.188z M296.484,374.5h-80.953v-33.844h80.953V374.5z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                      <path class="st0" d="M91.656,261.656c-23.203,0-42,18.813-42.016,42.031c0.016,23.188,18.813,41.984,42.016,42c23.188-0.016,42-18.813,42-42C133.656,280.469,114.844,261.656,91.656,261.656z M112.875,324.891c-5.453,5.438-12.906,8.797-21.219,8.797s-15.781-3.359-21.219-8.797c-5.438-5.453-8.781-12.922-8.797-21.203c0.016-8.313,3.359-15.781,8.797-21.234c5.438-5.438,12.906-8.797,21.219-8.797s15.75,3.359,21.219,8.797c5.438,5.453,8.781,12.922,8.781,21.234C121.656,311.969,118.313,319.438,112.875,324.891z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                      <path class="st0" d="M420.344,261.656c-23.203,0-42,18.813-42,42.031c0,23.188,18.797,41.984,42,42c23.203-0.016,42.016-18.813,42.031-42C462.359,280.469,443.563,261.656,420.344,261.656z M441.563,324.891c-5.438,5.438-12.906,8.797-21.219,8.797c-8.297,0-15.75-3.359-21.219-8.797c-5.438-5.453-8.781-12.922-8.781-21.203c0-8.313,3.344-15.781,8.781-21.234c5.469-5.438,12.922-8.797,21.219-8.797c8.313,0,15.781,3.359,21.219,8.797c5.453,5.453,8.813,12.922,8.813,21.234C450.375,311.969,447.016,319.438,441.563,324.891z" style="fill: rgba(80, 192, 41, 0.9);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">車両維持費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="水道光熱費" />
              <div class="radio-tile">
                <div class="icon water">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M190.082,69.425c22.226,0,28.032-16.387,33.497-16.387h9.555c8.214,0,12.491,8.994,21.917,14.996v37.937h-16.672c-7.766,0-14.068,6.303-14.068,14.078v30.853h99.564v-30.853c0-7.774-6.302-14.078-14.077-14.078h-16.655V68.034c9.425-6.002,13.711-14.996,21.925-14.996h9.564c5.456,0,11.263,16.387,33.488,16.387c16.972,0,30.732-13.76,30.732-30.733c0-16.996-13.76-30.74-30.732-30.74c-22.225,0-28.032,16.378-33.488,16.378h-9.564c-12.304,0-15.728-20.225-40.97-20.225c-25.243,0-28.658,20.225-40.963,20.225h-9.555c-5.465,0-11.271-16.378-33.497-16.378c-16.972,0-30.732,13.744-30.732,30.74C159.35,55.664,173.109,69.425,190.082,69.425z" style="fill: rgb(50, 204, 211);"></path>
                      <path class="st0" d="M120.852,333.489L26.931,307.4c-7.49-2.082-15.248,2.309-17.329,9.791l-9.084,32.684c-2.082,7.49,2.301,15.248,9.799,17.33l93.912,26.096c7.49,2.082,15.248-2.301,17.338-9.79l9.075-32.685C132.733,343.337,128.342,335.579,120.852,333.489z" style="fill: rgb(50, 204, 211);"></path>
                      <path class="st0" d="M496.743,141.915l-26.788-9.449c-4.928-1.749-10.304-1.749-15.232,0l-26.78,9.449c-9.141,3.237-15.256,11.882-15.256,21.576v96.156c0,9.694,6.115,18.347,15.264,21.567l26.772,9.458c4.928,1.732,10.304,1.732,15.232,0l26.78-9.458c9.149-3.22,15.265-11.873,15.265-21.567v-96.156C512,153.797,505.884,145.152,496.743,141.915z" style="fill: rgb(50, 204, 211);"></path>
                      <path class="st0" d="M400.27,163.596c-57,0-149.13,0-199.892,0c-14.167-0.007-27.951,1.96-40.881,5.636c-22.682,6.392-42.443,17.866-58.91,31.578c-24.764,20.672-42.784,46.134-56.788,72.093c-4.115,7.677-7.831,15.428-11.272,23.17l97.14,26.991c3.692-7.141,7.653-13.955,11.849-20.16c9.189-13.646,19.371-24.186,29.049-30.578c4.863-3.228,9.572-5.514,14.362-7.051c4.806-1.52,9.718-2.35,15.452-2.358c50.834,0,143.177,0,200.152,0c-0.154-1.073-0.26-2.163-0.26-3.269V163.596z" style="fill: rgb(50, 204, 211);"></path>
                      <path class="st0" d="M9.382,480.635c0,15.061,12.199,27.26,27.259,27.26c15.054,0,27.26-12.199,27.26-27.26c0-15.061-27.114-60.366-27.26-60.366C36.487,420.269,9.382,465.573,9.382,480.635z" style="fill: rgb(50, 204, 211);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">水道光熱費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="通信費" />
              <div class="radio-tile">
                <div class="icon iphone">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M341.601,0H170.397c-29.29,0-53.12,23.828-53.12,53.121v405.758c0,29.29,23.83,53.121,53.12,53.121h171.204c29.292,0,53.121-23.832,53.121-53.117V53.121C394.722,23.828,370.893,0,341.601,0z M255.999,480.622c-11.869,0-21.526-9.658-21.526-21.526c0-11.871,9.656-21.526,21.526-21.526c11.869,0,21.526,9.655,21.526,21.526C277.525,470.964,267.868,480.622,255.999,480.622z M363.274,67.271v340.156h-214.55V67.271H363.274z" style="fill: rgb(75, 75, 75);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">通信費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="住宅費" />
              <div class="radio-tile">
                <div class="icon house">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M392.859,6.031L123.288,66.938l0.91,1.692l-0.782-0.51L0,256.273l26.488,17.374l4.457-6.804v139.261l254.107,99.866l209.756-104.105V228.575L512,221.753L392.859,6.031z M270.335,466.165l-91.76-36.065V325.503l-62.872-18.629v98.51l-53.085-20.866V218.561l78.208-119.232l120.232,221.945l3.856-1.519l5.421-2.147V466.165z M463.136,382.226l-164.858,81.829V306.52l164.858-65.383V382.226z" style="fill: rgb(223, 86, 86);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">住宅費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="娯楽費" />
              <div class="radio-tile">
                <div class="icon book">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <circle class="st0" cx="312.246" cy="39.975" r="39.975" style="fill: rgba(215, 213, 35, 0.89);"></circle>
                      <path class="st0" d="M487.819,219.988l-25.58-59.152c-4.353-9.203-11.858-16.542-21.168-20.67l-47.558-21.12c-22.681-10.072-47.616-14.005-72.307-11.409l-36.139,3.806c-13.995,1.474-27.708,5.027-40.658,10.55L196.49,142.4l-56.176-13.312c-9.74-1.982-19.236,4.313-21.208,14.053c-1.991,9.74,4.353,18.221,14.054,21.217l52.35,17.557c9.886,3.016,20.436,3.133,30.381,0.313l55.697-14.406l9.994,47.47l-67.292,29.864c-14.424,5.329-25.667,16.874-30.614,31.435l-32.714,96.307c-3.621,11.876,3.084,24.446,14.972,28.067c11.878,3.612,23.061-2.478,28.058-14.971l38.726-93.69l66.022-27.854c2.176-0.917,4.695-0.391,6.315,1.327c1.63,1.718,2.02,4.255,0.976,6.383l-19.597,40.131l-13.117,94.237c-1.757,12.297,6.773,23.696,19.07,25.462c12.297,1.757,22.359-4.772,25.463-19.079l17.303-90.627l36.354-49.5c14.239-19.383,19.588-43.888,14.747-67.447l-9.877-47.949l46.64,19.158l32.031,58.313c4.118,9.066,14.776,13.068,23.823,8.95C487.926,239.692,491.928,229.034,487.819,219.988z" style="fill: rgba(215, 213, 35, 0.89);"></path>
                      <path class="st0" d="M419.034,479.92c-1.952,0.069-3.909,0.098-5.866,0.098c-13.999,0-27.96-1.806-41.512-5.378L81.542,398.136c-7.621-2.01-14.844-5.308-21.338-9.759l-19.582-13.39l-18.055,26.39l19.578,13.389h-0.005c9.525,6.52,20.099,11.35,31.249,14.298l290.119,76.495c16.201,4.274,32.899,6.441,49.661,6.441c2.332,0,4.675-0.039,7.018-0.127l31.708-1.142l-1.151-31.952L419.034,479.92z" style="fill: rgba(215, 213, 35, 0.89);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">娯楽費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="衣類費" />
              <div class="radio-tile">
                <div class="icon cloth">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M417.884,0H256H94.116L43.297,500.706L188.236,512l56.479-308.707H256h11.303L323.755,512l144.948-11.294L417.884,0z M111.061,20.705h47.051V47.06h-47.051V20.705z M218.734,135.529c0,13.178-46.114,35.766-46.114,35.766s-46.113-22.588-46.113-35.766c0-5.375,0-15.312,0-25.177h92.228C218.734,120.218,218.734,130.154,218.734,135.529zM218.734,98.585h-92.228c0-9.393,0-16.705,0-16.705h46.113h46.114C218.734,81.88,218.734,89.192,218.734,98.585z M247.536,47.06h-72.479V20.705h72.479V47.06z M264.473,47.06V20.705h72.47V47.06H264.473z M385.493,135.529c0,13.178-46.104,35.766-46.104,35.766s-46.123-22.588-46.123-35.766c0-5.375,0-15.312,0-25.177h92.227C385.493,120.218,385.493,130.154,385.493,135.529zM385.493,98.585h-92.227c0-9.393,0-16.705,0-16.705h46.123h46.104C385.493,81.88,385.493,89.192,385.493,98.585z M400.939,47.06h-47.051V20.705h47.051V47.06z" style="fill: rgba(28, 170, 41, 0.91);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">衣類費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="美容費" />
              <div class="radio-tile">
                <div class="icon fashion">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M346.962,299.754v-97.96h-18.654c0,0,0-146.944,0-172.603c0-25.653-23.324-34.986-39.656-25.653c-52.525,30.018-104.959,95.625-104.959,111.951v86.305h-18.654v97.96h-11.662v192.412c0,10.962,8.886,19.834,19.835,19.834h165.578c10.962,0,19.835-8.873,19.835-19.834V299.754H346.962z M190.697,488.676H176.7V323.078h13.998V488.676z M330.643,299.754H181.37v-81.635h149.272V299.754z" style="fill: rgb(238, 17, 17);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">美容費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="特別費" />
              <div class="radio-tile">
                <div class="icon special">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                      <path class="st0" d="M0,78.41v157.724h217.084l-7.827-8.116c-0.327-0.03-0.597-0.048-0.942-0.077c-4.078-0.328-9.732-0.847-16.367-1.597c-13.28-1.528-30.406-4-46.734-8.019c-10.906-2.712-21.445-6.02-30.656-10.684c-5.25-2.682-10.155-5.808-14.443-10.068c-13.723-13.713-20.656-31.83-20.636-49.821c-0.02-17.992,6.895-36.118,20.636-49.85c13.731-13.722,31.848-20.646,49.83-20.636c17.982-0.01,36.108,6.914,49.831,20.646c3.961,3.981,6.933,8.501,9.5,13.346c2.558,4.847,4.683,10.068,6.558,15.53c3.732,10.924,6.463,22.896,8.559,34.436c3.491,19.299,5.174,37.348,5.846,46.158l5.904,6.116V0H78.41C35.108,0,0,35.099,0,78.41z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                      <path class="st0" d="M383.355,181.417c3.414-1.721,5.847-3.49,6.972-4.654c8.049-8.059,12.011-18.463,12.021-29.022c-0.01-10.558-3.972-20.982-12.011-29.02h-0.01c-8.058-8.049-18.463-12.002-29.021-12.02c-10.559,0.019-20.963,3.98-29.022,12.02c-1,0.98-2.462,2.904-3.933,5.616c-1.491,2.702-3.01,6.154-4.423,10.077c-2.857,7.847-5.299,17.559-7.222,27.377c-2.538,12.886-4.211,25.896-5.25,35.8c1.443-0.144,2.942-0.307,4.5-0.49c12.501-1.433,28.657-3.798,43.042-7.347C368.576,187.408,377.384,184.476,383.355,181.417z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                      <path class="st0" d="M433.59,0H275.857v212.727l5.155-5.356c0.029-0.414,0.057-0.769,0.096-1.221c0.327-4.077,0.836-9.732,1.596-16.366c1.519-13.27,3.99-30.416,8.009-46.754c2.703-10.914,6.029-21.444,10.684-30.675c2.702-5.26,5.827-10.165,10.077-14.444c13.723-13.732,31.849-20.656,49.831-20.646c17.982-0.01,36.108,6.914,49.83,20.636c13.732,13.732,20.656,31.839,20.646,49.84c0.01,17.982-6.914,36.118-20.646,49.84c-3.99,3.952-8.51,6.914-13.347,9.491c-4.856,2.558-10.068,4.683-15.53,6.558c-10.914,3.722-22.876,6.443-34.416,8.539c-19.078,3.462-36.926,5.155-45.85,5.847l-7.827,8.116H512V78.41C512,35.099,476.892,0,433.59,0z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                      <path class="st0" d="M374.557,357.2l-21.195,20.414l-77.506-80.458V512H433.59c43.302,0,78.41-35.098,78.41-78.41V275.858H296.205L374.557,357.2z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                      <path class="st0" d="M136.692,357.2l78.353-81.342H0V433.59C0,476.902,35.108,512,78.41,512h157.733V296.388l-78.256,81.227L136.692,357.2z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                      <path class="st0" d="M191.966,150.05c-2.346-9.578-5.288-18.376-8.346-24.348c-1.721-3.423-3.491-5.846-4.655-6.98c-8.049-8.04-18.463-12.002-29.022-12.02c-10.558,0.019-20.963,3.971-29.021,12.02c-8.039,8.039-12.002,18.463-12.02,29.03c0.018,10.549,3.981,20.973,12.02,29.012c0.981,0.999,2.904,2.462,5.616,3.933c2.692,1.491,6.144,3,10.059,4.413c7.856,2.847,17.559,5.299,27.367,7.222c12.894,2.548,25.925,4.222,35.839,5.26c-0.144-1.433-0.317-2.924-0.49-4.481C197.89,180.62,195.524,164.455,191.966,150.05z" style="fill: rgba(31, 121, 192, 0.88);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">特別費</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="その他" />
              <div class="radio-tile">
                <div class="icon pen">
                  
                </div>
              <label for="category" class="radio-tile-label">その他</label>
            </div>
            </label>
          </div>
        </div>
      <input type="submit" class="button" value="送信">
    </div>
  <% end %>

</div>

