<%= render partial: "users/sidebar" %>

<%= render partial: "users/header" %>



<div class="container">

  <div class="new-container">
  

    <%= form_with model: @income, url: incomes_path, class: "income_form", local: true do |f|%>
      <div class="new-title">新規収入</div>
      <div class="date">
        <label for="stat_time">日付：</label>
        <input type="date" id="date" name="income[start_time]">
      </div>
      <div class="income_price">
        <label for="income_price">金額:</label>
        <input type="text" id="amount" name="income[income_price]">
      </div>
      <div class="memo">
        <label for="memo">メモ:（25文字以内）</label>
        <input type="text" id="memo" name="income[memo]">
      </div>
      
      <div class="category-container">
      <label for="category">カテゴリー:
        <div class="radio-tile-group">
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="給与" />
              <div class="radio-tile">
                <div class="icon income">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M479.25,309.906c-4.516-10.516-10.406-19-16.781-26.469c-3.172-3.719-6.453-7.156-9.781-10.563c0.859-3.938,0-8.156-2.859-11.344l0.063-0.031c-0.078-0.125-0.453-1.172-0.688-3.031c-0.234-1.844-0.375-4.438-0.375-7.531c-0.016-7.781,0.797-18.625,0.797-31.094c0-15.75-1.297-34.281-7.656-53.656c-6.328-19.375-17.828-39.469-37.313-57.781c-23.078-21.719-50.047-33.656-76.141-40.063c-0.844-0.203-1.672-0.359-2.484-0.563c4.703-6.938,7.453-15.313,7.453-24.344C333.484,19.469,314.047,0,290.031,0C276.172,0,263.953,6.625,256,16.75C248.063,6.625,235.828,0,221.953,0c-24,0.016-43.438,19.438-43.453,43.438c0,9.031,2.766,17.406,7.469,24.344c-0.828,0.203-1.641,0.359-2.484,0.563c-26.094,6.406-53.094,18.344-76.141,40.063c-19.5,18.313-30.984,38.422-37.328,57.781c-6.344,19.375-7.641,37.906-7.641,53.656c0,12.469,0.797,23.281,0.797,31.063c0,4.063-0.25,7.25-0.641,9.031c-0.156,0.891-0.359,1.406-0.422,1.531l-0.016,0.031l0.047,0.031c-2.844,3.188-3.703,7.375-2.844,11.344c-1.094,1.094-2.172,2.219-3.25,3.344c-8.813,9.297-17.281,19.641-23.297,33.688c-6.031,14.063-9.5,31.484-9.484,54.844c-0.016,23.969,6.094,45.625,17.547,64.219c17.188,27.906,45.953,48.656,82.672,62.391C160.266,505.109,205.234,512,256,512c67.688-0.031,125.078-12.203,166.438-36.719c20.656-12.266,37.313-27.719,48.75-46.313c11.453-18.594,17.563-40.25,17.547-64.219C488.75,341.391,485.281,323.969,479.25,309.906z M290.031,26.063c9.594,0.031,17.359,7.813,17.375,17.375c-0.016,9.625-7.766,17.375-17.375,17.406c-9.578-0.031-17.359-7.813-17.375-17.406C272.672,33.875,280.453,26.094,290.031,26.063zM221.953,26.063c9.594,0.031,17.359,7.813,17.375,17.375c-0.016,9.625-7.766,17.375-17.375,17.406c-9.578-0.031-17.359-7.813-17.375-17.406C204.594,33.875,212.375,26.094,221.953,26.063z M423.063,239.844c-6.563-9.188-12.828-20.125-18.375-34.531c-12.219-31.875-30.078-54.375-54.906-68.094c-24.797-13.75-55.578-18.781-93.781-18.781s-68.969,5.031-93.781,18.781c-24.828,13.719-42.688,36.219-54.906,68.094c-5.563,14.375-11.813,25.375-18.375,34.594c-0.25-6.344-0.516-12.938-0.5-20.063c0-14.281,1.219-29.875,6.359-45.531c5.172-15.672,14.109-31.516,30.422-46.906c19.094-18,41.531-28.078,64.516-33.75c22.953-5.656,46.281-6.75,66.266-6.75c20,0,43.313,1.094,66.266,6.75c22.984,5.672,45.406,15.75,64.516,33.75c16.313,15.391,25.234,31.234,30.422,46.906c5.141,15.656,6.359,31.234,6.359,45.531C423.578,226.938,423.313,233.531,423.063,239.844z" style="fill: rgb(58, 146, 103);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">給与</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="お小遣い" />
              <div class="radio-tile">
                <div class="icon happy">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M446.189,241.938c-4.781,0-9.594-1.813-18.438-2.406c-30.469-51.609-86.641-86.25-150.922-86.25c-28.172,0-54.766,6.688-78.344,18.5c-40.219-37.094-86.625-16.25-86.625-16.25l25.813,66.563c-10.844,14.156-19.578,30.031-25.719,47.125c-15.828,1.938-32.344,3.75-41.688,4.234c-6.297,0.359-18.578,8.141-17.969,20.703c1.375,29.031,15.5,84.313,31.813,90c7.859,2.75,18.953,6.344,30.281,9.906c4.125,10.188,9.188,19.938,15.078,29.063L175.986,512h61.063l-2.719-31.313h97.375V512h59.547l48.094-118.125c0.266-0.656,0.531-1.313,0.797-1.969l3-7.375l-0.391,0.125c6-17.625,9.25-36.531,9.25-56.219c0-18.75-2.984-36.813-8.438-53.75c1.766-1.781,4.094-3.719,7.219-5.719C466.814,258.656,458.799,241.938,446.189,241.938z M160.846,269.391c0-6.422,5.219-11.641,11.656-11.641s11.656,5.219,11.656,11.641c0,6.453-5.219,11.672-11.656,11.672S160.846,275.844,160.846,269.391z M198.189,373.766c-16.844,0-30.516-13.656-30.516-30.516c0-16.844,13.672-30.5,30.516-30.5c16.859,0,30.516,13.656,30.516,30.5C228.705,360.109,215.049,373.766,198.189,373.766z" style="fill: rgb(239, 147, 67);"></path>
                    <path class="st0" d="M314.783,73.656c0-6.219-5.781-11.281-12.891-11.281h-11.219v22.563h11.219C309.002,84.938,314.783,79.875,314.783,73.656z" style="fill: rgb(239, 147, 67);"></path>
                    <path class="st0" d="M276.83,133.219c24.547,0,48.563,4.688,70.859,13.438c19.984-14.813,33-38.5,33-65.313C380.689,36.422,344.268,0,299.33,0c-44.906,0-81.344,36.422-81.344,81.344c0,21.438,8.359,40.875,21.891,55.375C251.955,134.406,264.283,133.219,276.83,133.219z M276.361,55.531c0-3.156,2.547-5.719,5.719-5.719h19.813c15,0,27.203,10.688,27.203,23.844c0,13.141-12.203,23.844-27.203,23.844h-11.219v16.438c0,3.156-2.563,5.719-5.719,5.719h-2.875c-3.172,0-5.719-2.563-5.719-5.719V55.531z" style="fill: rgb(239, 147, 67);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">お小遣い</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="投資" />
              <div class="radio-tile">
                <div class="icon train">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M234.573,374.46c14.266,0,58.844,0,58.844,0c11.828,0,21.406-9.578,21.406-21.391c0-11.828-9.578-21.406-21.406-21.406c-10.688,0-32.094,0-85.594,0s-70.453,22.297-89.172,41.031l-33.984,29.672c-2.203,1.922-3.469,4.688-3.469,7.625v98.641c0,1.313,0.766,2.516,1.969,3.063c1.188,0.547,2.594,0.359,3.609-0.516l65.672-56.297c2.313-1.969,5.391-2.797,8.391-2.266l102.328,18.609c7.141,1.297,14.5-0.344,20.422-4.531c0,0,130.641-90.828,140.281-98.859l0,0c9.188-8.438,9.078-20.672,0.641-29.875s-24.188-7.25-34.688,0.531c-9.625,8.016-75.359,51.219-75.359,51.219h-79.891l-0.266,0.125c-4.203-0.141-7.5-3.672-7.359-7.875c0.156-4.203,3.672-7.5,7.875-7.359L234.573,374.46z" style="fill: rgb(23, 60, 158);"></path>
                    <path class="st0" d="M290.839,228.929c-1.641-1.375-3.75-2.422-6.344-3.141c-2.578-0.719-5.703-1.094-9.359-1.094h-18.438v32.813h18.516c3.875,0,7.109-0.469,9.719-1.391c2.594-0.938,4.688-2.172,6.266-3.719c1.563-1.547,2.703-3.359,3.391-5.422c0.703-2.047,1.047-4.25,1.047-6.563c0-2.438-0.391-4.609-1.156-6.547C293.714,231.944,292.495,230.288,290.839,228.929z" style="fill: rgb(23, 60, 158);"></path>
                    <path class="st0" d="M286.214,206.444c3.672-2.578,5.5-6.672,5.5-12.297c0-5.828-1.656-9.984-4.953-12.469c-3.297-2.469-8.453-3.703-15.469-3.703h-14.594v32.344h13.438C277.198,210.319,282.558,209.022,286.214,206.444z" style="fill: rgb(23, 60, 158);"></path>
                    <path class="st0" d="M418.339,193.866C397.761,111.819,318.058,80.96,311.089,73.444l19.609-71.328c0,0-24.484-7.906-58.797,6.828c-43.641,18.734-67.953-5.156-67.953-5.156l21.547,70.781c-6.766,7.688-91.516,42.141-106.875,123.219c-7.797,41.094,3.422,92.531,39.25,127.516c12.953-4.984,29.078-8.219,49.953-8.219h85.594c19.859,0,36,16.141,36,35.984c0,0.906-0.125,1.797-0.188,2.688C407.261,328.663,432.542,250.429,418.339,193.866z M316.12,254.022c-1.813,4.031-4.438,7.5-7.891,10.406c-3.453,2.922-7.719,5.188-12.766,6.844c-5.063,1.656-10.844,2.484-17.344,2.484h-2.266v11.313h-17.688v-11.313h-22.281h-7.297v-9.094c-0.016-2.688-0.172-4.297,2.406-4.844c0.219-0.047,0.547-0.094,0.969-0.188c0.422-0.063,1.188-0.203,2.297-0.406s-0.297-0.453,1.625-0.813V177.21c-1.922-0.328-0.516-0.609-1.625-0.797c-1.109-0.219-1.875-0.344-2.297-0.422s-0.75-0.141-0.969-0.172c-2.578-0.547-2.422-2.156-2.406-4.844v-9.078h7.297h22.281v-12.094h17.688v12.188c5.391,0.234,10.125,0.891,14.188,1.984c5.188,1.391,9.453,3.375,12.766,5.953c3.328,2.578,5.766,5.688,7.313,9.359c1.563,3.656,2.328,7.797,2.328,12.375c0,2.641-0.391,5.156-1.156,7.547c-0.781,2.391-1.984,4.641-3.609,6.734c-1.625,2.078-3.688,3.984-6.188,5.688s-2.266,3.141-5.719,4.328c15.359,3.453,23.047,11.766,23.047,24.922C318.823,245.616,317.917,250.007,316.12,254.022z" style="fill: rgb(23, 60, 158);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">投資</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="臨時収入" />
              <div class="radio-tile">
                <div class="icon clean">
                  <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M175.609,192.828h148.172c2.547,0,4.922-1.219,6.406-3.266c1.484-2.063,1.891-4.719,1.078-7.109l-25.672-77c-1.063-3.203-4.078-5.375-7.469-5.375h-96.844c-3.406,0-6.422,2.172-7.484,5.375l-25.656,77c-0.813,2.391-0.406,5.047,1.078,7.109C170.688,191.609,173.078,192.828,175.609,192.828z M207.328,111.641h55.688l-68.75,39.219L207.328,111.641z" style="fill: rgb(228, 231, 22);"></path>
                    <path class="st0" d="M137.875,324.547c-1.063-3.203-4.078-5.375-7.484-5.375H33.563c-3.406,0-6.422,2.172-7.484,5.375l-25.672,77c-0.813,2.391-0.391,5.047,1.078,7.109c1.484,2.047,3.875,3.266,6.406,3.266h148.172c2.531,0,4.922-1.219,6.391-3.266c1.484-2.063,1.891-4.719,1.078-7.109L137.875,324.547z M26.531,369.969l13.078-39.234h55.688L26.531,369.969z" style="fill: rgb(228, 231, 22);"></path>
                    <path class="st0" d="M311.906,324.547c-1.063-3.203-4.078-5.375-7.5-5.375h-96.828c-3.391,0-6.406,2.172-7.469,5.375l-25.672,77c-0.813,2.391-0.406,5.047,1.078,7.109c1.469,2.047,3.859,3.266,6.391,3.266h148.172c2.547,0,4.922-1.219,6.406-3.266c1.484-2.063,1.891-4.719,1.078-7.109L311.906,324.547z M200.563,369.969l13.063-39.234h55.688L200.563,369.969z" style="fill: rgb(228, 231, 22);"></path>
                    <path class="st0" d="M511.594,401.547l-25.672-77c-1.063-3.203-4.078-5.375-7.484-5.375h-96.828c-3.406,0-6.422,2.172-7.484,5.375l-25.656,77c-0.813,2.391-0.406,5.047,1.078,7.109c1.469,2.047,3.859,3.266,6.391,3.266h148.172c2.531,0,4.922-1.219,6.406-3.266C511.984,406.594,512.406,403.938,511.594,401.547z M374.578,369.969l13.078-39.234h55.688L374.578,369.969z" style="fill: rgb(228, 231, 22);"></path>
                    <path class="st0" d="M85.5,302.156h148.172c2.547,0,4.938-1.219,6.406-3.281c1.484-2.047,1.891-4.703,1.078-7.094l-25.656-77c-1.063-3.203-4.078-5.375-7.484-5.375h-96.844c-3.391,0-6.406,2.172-7.484,5.375l-25.656,77c-0.813,2.391-0.406,5.047,1.078,7.094C80.594,300.938,82.969,302.156,85.5,302.156z M117.234,220.969h55.688l-68.766,39.219L117.234,220.969z" style="fill: rgb(228, 231, 22);"></path>
                    <path class="st0" d="M277.625,214.781l-25.656,77c-0.813,2.391-0.406,5.047,1.078,7.094c1.469,2.063,3.859,3.281,6.391,3.281h148.172c2.547,0,4.922-1.219,6.406-3.281c1.484-2.047,1.891-4.703,1.078-7.094l-25.672-77c-1.063-3.203-4.078-5.375-7.484-5.375h-96.828C281.703,209.406,278.688,211.578,277.625,214.781z M346.844,220.969l-68.766,39.219l13.078-39.219H346.844z" style="fill: rgb(228, 231, 22);"></path>
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">臨時収入</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="副業" />
              <div class="radio-tile">
                <div class="icon medical">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="width: 64px; height: 64px; opacity: 1;" xml:space="preserve">
                    <path class="st0" d="M510.168,392.022l-45.594-57.326V93.611c0-11.662-9.458-21.12-21.12-21.12H68.546c-11.662,0-21.115,9.458-21.115,21.12v241.085L1.837,392.022C0.648,393.517,0,395.367,0,397.287v25.373c0,9.311,7.542,16.849,16.849,16.849h478.302c9.31,0,16.849-7.538,16.849-16.849v-25.373C512,395.367,511.36,393.517,510.168,392.022z M77.226,102.291h357.548v202.606H77.226V102.291z M304.121,419.47h-96.242v-25.478h96.242V419.47z" style="fill: rgb(218, 43, 43);"></path>
                    <path class="st0" d="M204.404,167.431c-0.117,0-0.225,0.036-0.31,0.096l-57.525,39.266c-0.152,0.112-0.242,0.277-0.242,0.467v10.556c0,0.189,0.09,0.363,0.242,0.458l57.525,39.266c0.086,0.069,0.194,0.104,0.31,0.104c0.087,0,0.177-0.026,0.255-0.069c0.181-0.096,0.298-0.286,0.298-0.493v-16.824c0-0.172-0.09-0.354-0.242-0.458l-39.94-27.267l39.94-27.258c0.152-0.112,0.242-0.277,0.242-0.467v-16.815c0-0.207-0.117-0.406-0.298-0.492C204.581,167.449,204.49,167.431,204.404,167.431z" style="fill: rgb(218, 43, 43);"></path>
                    <path class="st0" d="M306.07,167.527c-0.091-0.06-0.195-0.096-0.312-0.096c-0.09,0-0.177,0.018-0.259,0.07c-0.177,0.086-0.294,0.285-0.294,0.492v16.824c0,0.182,0.091,0.355,0.242,0.458l39.94,27.258l-39.94,27.267c-0.151,0.104-0.242,0.285-0.242,0.466v16.815c0,0.207,0.117,0.397,0.294,0.493c0.082,0.043,0.169,0.069,0.259,0.069c0.117,0,0.22-0.034,0.312-0.104l57.52-39.266c0.164-0.095,0.25-0.268,0.25-0.458v-10.556c0-0.19-0.086-0.355-0.25-0.467L306.07,167.527z" style="fill: rgb(218, 43, 43);"></path>
                    <path class="st0" d="M281.375,158.224h-16.08c-0.237,0-0.449,0.147-0.522,0.372L228.26,264.473c-0.056,0.164-0.026,0.354,0.074,0.492c0.109,0.147,0.277,0.242,0.454,0.242h16.08c0.238,0,0.45-0.156,0.523-0.38l36.508-105.859c0.061-0.172,0.03-0.363-0.069-0.51C281.721,158.311,281.553,158.224,281.375,158.224z" style="fill: rgb(218, 43, 43);"></path>  
                  </svg>
                </div>
              <label for="category" class="radio-tile-label">副業</label>
            </div>
          </div>
          <div class="input-container">
            <input type="radio" name="income[category]" class="radio-button" value="その他" />
              <div class="radio-tile">
                <div class="icon pen">
                  
                </div>
              <label for="category" class="radio-tile-label">その他</label>
            </div>
            </label>
          </div>
        </div>
      <input type="submit" class="button" value="送信">
    </div>
  <% end %>

</div>

