.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main-middle {
  height: 90vh;
  width: calc(100vw - 18vw);
  display: flex;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.index {
  margin: 10px 0 5px 0;
  font-size: 20px;
  font-family: 'Zen Kaku Gothic New';
}

.index_radio {
  display: flex;
}

.radio {
  margin: 17px 10px 5px 20px;
  font-size: 15px;
  font-family: 'Zen Kaku Gothic New';
}


.left {
  width: 50vw;
  height: 90vh;
  padding-left:30px;
}

.calendar-container {
  width: calc(50vw - 30px);
  height: calc(90vh - 90px);
  background-color: white;
  margin: 0 30px 0 0;
  padding: 20px 30px;
  display: inline-block;
}


.calendar table {
  width: 100%;
  height: 100%;
}  

.simple-calendar {

  width: calc(100% - 30px);
  padding: 20px 30px 30px 30px;

  box-sizing: border-box;
  background-color: white;
  /* transform: scaleY(1.3); */
}


.sum-now-container {
  /* height: 100%; */
}

ul.months {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  content: none;
  margin: initial;
  padding: initial;
  font-family: 'Zen Kaku Gothic New';
}

.sum_amount {
  font-size: 20px;
  margin:0 auto;
}
.sum-now {
  margin-right: 30px;
  padding: 15px 70px;
  background-color: white;
  justify-content: space-between;
}

li {
  content: initial;
}

.letter {
  text-align: center;

  font-size: 17px;
  margin: 10px auto;
  
} 

.table {
  /* height: auto; */
}

.table-right {
  height: 90vh;
  width: 32vw;

}

.index-container {
  margin-right: 30px;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}

.each-usage {
  display: flex;
  justify-content: space-between;
}

.usage-right {
  display: flex;

}

.edit,
.delete {
  border: 2px solid #dddddd;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
  margin-right: 5px;
}

.set span {
  margin-right: 5px;
}

.set span:last-child {
  margin-right: 0;
}

.set span:first-child {
  text-transform: capitalize;
}

.set span.color-green {
  color: green;
}

.set span.color-orange {
  color: orange;
}
